.accessories__page img {
    width: 100%;
}


.accessories__page .accessBox__content .accessBox__content__image {
    transition: 0.5s ease-in-out !important;
}


.accessories__page .accessBox .accessBox__content .accessBox__content__image:hover {
    transition: 0.5s ease-in-out !important;
    transform: translateY(-10px) !important;
}


.accessories__page .mx-auto .border-0:hover {
    transition: 0.5s ease-in-out !important;
    background-color: red !important;
}